<form action="#" role="form" id="new-job-posting">
  <div class="form-group">
    <label for="name">Your full name</label>
    <input type="text" class="form-control input-lg" name="name">
  </div>

  <div class="form-group">
    <label for="email">Your email address</label>
    <input type="text" class="form-control input-lg" name="email">
  </div>

  <div class="form-group">
    <label for="company">Company represented</label>
    <input type="text" class="form-control input-lg" name="company">
    <p class="help-block">Please list the name of the company that is hiring.</p>
  </div>

  <div class="form-group">
    <label for="url">Website URL</label>
    <input type="text" class="form-control input-lg" name="url">
    <p class="help-block">A URL for the company or more specific job listing.</p>
  </div>

  <div class="form-group">
    <label for="description">Job description</label>
    <textarea class="form-control input-lg" rows="7" name="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
