<form action="#" role="form" id="new-job-posting">
  <div class="form-group">
    <label for="name">Your Full Name</label>
    <input type="text" class="form-control" name="name">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="text" class="form-control" name="email">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label for="company">Company Represented</label>
    <input type="text" class="form-control" name="company">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label for="url">Website URL</label>
    <input type="text" class="form-control" name="url">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" rows="7" name="description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
