body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

form.alert {
  display: none;
  opacity: 0;
  visibility: hidden;
}

form.is-success .alert {
  display: block;
  opacity: 1;
  visibility: visible;
}

form.is-success [type="submit"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}
